<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>网站后台管理模版</title>
  <link rel="stylesheet" type="text/css"
        href="admin/layui/css/layui.css" />
  <link rel="stylesheet" type="text/css" href="admin/css/admin.css" />
</head>

<body>
<div class="page-content-wrap" id="LessonInfo">
  <h5 style="text-align:center;font-size: 20px;line-height: 25px;color:#666">测试成绩信息管理界面</h5>
  <hr>
  <div class="layui-form-item">
    <div class="layui-inline tool-btn">
        <button class="layui-btn layui-btn-small site-demo-active"
                data-type="showTable">加载数据
          <i class="layui-icon">&#xe683;</i>
        </button>
      </div>
        <p>课程名称</p>
        <input type="text" id="lessonName" placeholder="课程名称"
             autocomplete="off" class="layui-input" />
        <input type="hidden" id="lessonId" placeholder="课程编号"
            autocomplete="off" class="layui-input" />
             
        <table id="infoTable" class="layui-table" lay-filter="demo"></table>
  </div>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑成绩</a>
  </script>

</div>
<script src="admin/layui/layui.all.js" type="text/javascript"
        charset="utf-8"></script>
<script>
  layui.use('table', function() {
    var $ = layui.jquery
    var table = layui.table;
    //监听表格复选框选择
    table.on('checkbox(demo)', function(obj) {
      console.log(obj)
    });
    //监听工具条
    table.on('tool(demo)', function(obj) {
      var data = obj.data;

      if (obj.event === 'edit') {
        var editFrom = layui.layer.open({
          title : "编辑课程信息",
          type : 2,
          maxmin:true, //开启最大化
          content : "/score-edit",//弹出层页面
          area: ['800px', '400px'],
          success : function(layero, index){
            var body = layui.layer.getChildFrame('body', index);
            //获取窗口对象
            var iframeWindow = layero.find('iframe')[0].contentWindow;
            body.find("#id").val(data.id);
            body.find("#name").val(data.name);
            body.find("#credit").val(data.credit);
            body.find("#time").val(data.time);
            iframeWindow.layui.form.render('select');
          }});
      }

    });

  //触发事件
  var active = {
     
      showTable : function(){
        var lessonId = $("#id").val();
        //表格渲染
        table.render({
            elem:'#infoTable'
            ,url:'test/getTests'
            ,page:false
            ,where:{"lessonId":lessonId}
            ,cols:[
                [
                {field:'id',sort:true,width:150,title:'考核项目编号'}
                ,{field:'name',width:200,title:'考核项目名称'}
                ,{field:'ttName',width:300,title:'所属考核类'}
                ,{field:'goalName',width:200,title:'所属课程目标'}
                ,{field:'totalScore',width:200,title:'总分'}
                ,{fixed:'right',width:200,align:'left',toolbar:'#barDemo'}
                ]
            ]
         });
      }


    };

    $('#LessonInfo .layui-btn').on('click', function() {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
</script>
</body>

</html>