<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunjon.ScoreManager.mapper.DepartmentMapper">
    <resultMap id="DepartmentMap" type="Department">
        <id property="id" column="dp_id"/>
        <result property="name" column="dp_name"/>
    </resultMap>

    <select id="findAllDepartments" resultMap="DepartmentMap">
        select dp_id,dp_name
        from department where delete_time is null
    </select>


<!--不会在数据库中删除一个学院，只是将delete_time改为非空-->
    <update id="deleteDepartment" parameterType="Department">
        update department
        set delete_time = current_timestamp
        <where>
            <choose>
                <when test="id != null and id > 0">dp_id = #{id}</when>
                <otherwise>dp_id = -1</otherwise>
            </choose>
        </where>
    </update>
<!--添加一个学院-->
    <insert id="addDepartment" parameterType="Department">
        insert into department(dp_name,create_time)
        values(#{name},current_timestamp )
    </insert>

<!--统计学院中学生的数量-->
    <select id="countStudent" parameterType="Integer" resultType="Integer">
        select count(st_id)
        from student
        where cl_id in (select cl_id from class where dp_id = #{dpID})
    </select>

<!--统计学院中教师的数量-->
    <select id="countTeacher" parameterType="Integer" resultType="Integer">
        select count(tc_id)
        from teacher
        where dp_id = #{dpID}
    </select>

</mapper>