<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunjon.ScoreManager.mapper.LessonMapper">
    <resultMap id="LessonMap" type="Lesson">
        <id property="id" column="ls_id"/>
        <result property="name" column="ls_name"/>
        <result property="credit" column="ls_credit"/>
        <result property="time" column="ls_time"/>
        <result property="dpID" column="dp_id"/>
        <result property="department" column="dp_name"/>
    </resultMap>

    <select id="findAllLessonsByPage" resultMap="LessonMap">
        select
            lesson.ls_id,
            lesson.ls_name,
            lesson.ls_credit,
            lesson.ls_time,
            department.dp_id,
            department.dp_name
        from lesson,department
        where lesson.dp_id = department.dp_id
          and lesson.delete_time is null
            limit #{limit} offset #{start}
    </select>

    <select id="countLessons" resultType="Integer">
        select
            count(ls_id)
        from lesson
        where
            delete_time is null
    </select>

    <select id="findLessonsByName" resultMap="LessonMap">
        select
        lesson.ls_id,
        lesson.ls_name,
        lesson.ls_credit,
        lesson.ls_time,
        department.dp_id,
        department.dp_name
        from lesson,department
        <where>
            lesson.dp_id = department.dp_id
            and lesson.delete_time is null
            <if test="name != null and name != ''">
                and lesson.ls_name like '%'||#{name}||'%'
            </if>
        </where>
        limit #{limit} offset #{start}
    </select>

    <insert id="addLesson" parameterType="java.util.Map">
        insert into lesson (
            ls_name,ls_credit,ls_time,dp_id,create_time
        )
        values(
                  #{name},#{credit},#{time},#{dpID},current_timestamp
              )
    </insert>


    <update id="updateLesson" parameterType="Lesson">
        update lesson
        <set>
            update_time = current_timestamp
            <if test="name != null and name != ''">,ls_name=#{name}</if>
            <if test="credit != null and credit > 0">,ls_credit=#{credit}</if>
            <if test="time != null and time != ''">,ls_time=#{time}</if>
        </set>
        <where>
            <choose>
                <when test="id != null and id > 0">ls_id = #{id}</when>
                <when test="name != null and name != ''">ls_name = #{name}</when>
                <otherwise>ls_id = -1</otherwise>
            </choose>
        </where>
    </update>

    <update id="deleteLesson" parameterType="Lesson">
        update lesson
        <set>
            delete_time = current_timestamp
        </set>
        <where>
            <choose>
                <when test="id != null and id > 0">ls_id = #{id}</when>
                <when test="name != null and name != ''">ls_name = #{name}</when>
                <when test="time != null and time != ''">ls_time = #{time}</when>
                <otherwise>ls_id = -1</otherwise>
            </choose>
        </where>
    </update>


</mapper>