<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunjon.ScoreManager.mapper.LessonMapper">
    <resultMap id="LessonMap" type="Lesson">
        <id property="id" column="ls_id"/>
        <result property="name" column="ls_name"/>
        <result property="credit" column="ls_credit"/>
        <result property="time" column="ls_time"/>
    </resultMap>

    <insert id="addLesson" parameterType="Lesson">
        insert into lesson(ls_name, ls_credit, ls_time, update_time)
        values(#{name}, #{credit}, #{time}, current_timestamp)
    </insert>

    <update id="updateLesson" parameterType="Lesson">
        update lesson
        <set>
            <if test="name != null and name != ''">ls_name=#{name},</if>
            <if test="credit != null and credit > 0">ls_credit=#{credit},</if>
            <if test="time != null and time != ''">ls_time=#{time},</if>
            update_time = current_timestamp
        </set>
    </update>

    <delete id="deleteLesson" parameterType="Lesson">
        delete from lesson where
        <choose>
            <when test="id != null and id > 0">ls_id = #{id}</when>
            <when test="name != null and name != ''">ls_name = #{name}</when>
            <when test="time != null and time != ''">ls_time = #{time}</when>
        </choose>
    </delete>

    <select id="findLesson" parameterType="Lesson" resultMap="LessonMap">
        select ls_id, ls_name, ls_credit, ls_time from lesson
        <where>
            ls_id > 0
            <if test="id != null and id > 0">and ls_id = #{id}</if>
            <if test="name != null and name != ''">and ls_name = #{name}</if>
            <if test="time != null and time != ''">and ls_time = #{time}</if>
            <if test="credit != null and credit > 0">and ls_credit = #{credit}</if>
        </where>
    </select>

</mapper>