<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunjon.ScoreManager.mapper.ManagerMapper">
    <resultMap id="ManagerMap" type="Manager">
        <id property="id" column="m_id"/>
        <result property="name" column="m_name"/>
        <result property="email" column="m_email"/>
        <result property="organization" column="dp_name"/>
    </resultMap>

    <select id="findAllManagers" resultMap="ManagerMap">
        select m_id,m_name,m_email,dp_name
        from manager,department
        where manager.dp_id = department.dp_id and manager.delete_time is null;
    </select>

    <select id="findManagersByPage" resultMap="ManagerMap">
        select m_id,m_name,m_email,dp_name
        from manager,department
        where manager.dp_id = department.dp_id and manager.delete_time is null
        LIMIT #{limit} offset #{start}
    </select>

    <select id="countManagers" resultType="Integer">
        select count(m_id)
        from manager
        where delete_time is null
    </select>

    <select id="findManagersByName" resultMap="ManagerMap">
        select m_id,m_name,m_email,dp_name
        from manager,department
        <where>
            manager.dp_id = department.dp_id
            and manager.delete_time is null
            <if test="name != null and name != ''">
                and manager.m_name like '%'||#{name}||'%'
            </if>
        </where>
        limit #{limit} offset #{start}

    </select>

    <insert id="addManager" parameterType="java.util.Map">
        insert into manager (
            m_name,m_salt,m_pwd,m_email,dp_id,create_time
        )
        values(
            #{name},#{salt},#{pwd},#{email},#{dpID},current_timestamp
        )
    </insert>

<!--    更新学院管理员信息-->
    <update id="updateManager" parameterType="Manager">
        update manager
        <set>
            update_time = current_timestamp
            <if test="email != null and email != ''">,m_email = #{email}</if>
        </set>
        <where>
             <choose>
                 <when test="id != null and id > 0">m_id = #{id}</when>
                 <when test="name != null and name != ''">m_name = #{name}</when>
                 <otherwise>m_id = -1</otherwise>
             </choose>
        </where>
    </update>

    <update id="deleteManager" parameterType="Manager">
        update manager
        <set>
            delete_time = current_timestamp
        </set>
        <where>
            <choose>
                <when test="id != null and id > 0">m_id = #{id}</when>
                <when test="name != null and name != ''">m_name = #{name}</when>
                <otherwise>m_id = -1</otherwise>
            </choose>
        </where>
    </update>

</mapper>