<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunjon.ScoreManager.mapper.StudentMapper">
    <resultMap id="StudentMap" type="Student">
        <id property="id" column="st_id"/>
        <result property="name" column="st_name"/>
        <result property="email" column="st_email"/>
        <result property="gender" column="st_gender"/>
        <result property="className" column="cl_name"/>
        <result property="department" column="dp_name"/>
        <result property="dpID" column="dp_id"/>
        <result property="classID" column="cl_id"/>
    </resultMap>

    <select id="findAllStudentsByPage" resultMap="StudentMap">
        select
            student.st_id,
            student.st_name,
            student.st_email,
            student.st_gender,
            class.cl_name,
            department.dp_name,
            department.dp_id,
            class.cl_id
        from student,class,department
        where student.cl_id = class.cl_id
            and class.dp_id = department.dp_id
            and student.delete_time is null
        limit #{limit} offset #{start}
    </select>

    <select id="countStudents" resultType="Integer">
        select
            count(st_id)
        from student
        where
            delete_time is null
    </select>


</mapper>