<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunjon.ScoreManager.mapper.TestMapper">

    <resultMap id="TestMap" type="Test">
        <id property="id" column="t_id"/>
        <result property="name" column="t_name"/>
        <result property="totalScore" column="total_score"/>
        <result property="ttId" column="tt_id"/>
        <result property="ttName" column="tt_name"/>
        <result property="goalId" column="lg_id"/>
        <result property="goalName" column="lg_name"/>
    </resultMap>

    <select id="findTest4Lesson" parameterType="Integer" resultMap="TestMap">
        select
        test_type.t_id,
        test_type.tt_name,
        test_type.tt_proportion,
        test_type.lg_id,
        ls_goal.lg_name
        from test_type,ls_goal
        <where>
            test_type.lg_id = ls_goal.lg_id
            and ls_goal.ls_id = #{lessonId}
        </where>
    </select>

    <insert id="addTest4Lesson" parameterType="java.util.Map">
        insert into test_type(
            tt_name,tt_proportion,lg_id
        )values(
                   #{name},#{proportion},#{goalId}
               )
    </insert>

    <update id="updateTest" parameterType="Test">
        update test_type
        <set>
            update_time = current_timestamp
            <if test="name != null and name != ''">,tt_name=#{name}</if>
            <if test="proportion != null and proportion !=''">,tt_proportion = #{proportion}</if>
        </set>
        <where>
            <choose>
                <when test="id != null and id > 0">tt_id = #{id}</when>
                <otherwise>tt_id = -1</otherwise>
            </choose>
        </where>
    </update>

    <delete id="deleteTest" parameterType="Test">
        delete
        from test_type
        <where>
            <choose>
                <when test="id != null and id > 0">tt_id = #{id}</when>
                <when test="name != null and name != ''">tt_name = #{name}</when>
                <otherwise>lg_id = -1</otherwise>
            </choose>
        </where>
    </delete>

</mapper>